.header{
    background-color: brown;
    padding: 10px 0;
}
.header a{
    text-decoration: none;
    margin-right: 10px;
    padding: 10px 10px;
    color: white;
    font-weight: 500;
}
.header a:hover{
    color: chartreuse;
}